*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}     
.patnercontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    background-color: white;
}
.patnercontent .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    color: black;
}
.patnerheader{
    font-size: 16px;
    font-weight: 600;
    color: #74C69D;
}


