.workcontent {
    display: flex;
    flex-direction: column;
    margin-right:auto ;

    margin-left:auto ;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px 34px;
    gap: 16px;
    max-width: 390px;
}
.workcontent h2{
    font-family: Work Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #74C69D;

}
.workcontent h3 {
    font-family: Crimson Text;
    font-weight: 700;
    font-style: Bold;
    font-size: 24x;
    text-align: center;

}
.worktcontent p {
    font-family: Work Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .workcontent h2 {
        font-size: 16px;
    }
    .workcontent h3 {
        font-size: 40px;
    }
    .workcontent p {
        font-size: 20px;
    }
    
}