.planheader{
    font-family: Work Sans;
    color:#74C69D;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;

}
.plantitle{
    font-family: Crimson Text;
font-weight: 700;
font-style: Bold;
font-size: 24px;
letter-spacing: 0px;
text-align: center;

}
.plantext{
    font-family: Work Sans;
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 125%;
letter-spacing: 0px;
text-align: center;

}
@media screen and (min-width: 768px) {
    .planheader{
        font-size: 16px;
    }
    .plantitle{
        font-size: 40px;
    }
    .plantext{
        font-size: 20px;
    }
    
}