
span{
	font-family: Work Sans;
	font-weight: 400;
	font-style: Regular;
	font-size: 15px;
	line-height: 125%;
	letter-spacing: 0px;

}
.package {
	margin: 18px 46px 18px 50px;
	padding: 30px 46px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.learnmore {
	background-color: black;
	border: none;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 10px;
	align-self: center;
	border: none;
    border-radius: 5px;
    width:170px;
    height: 45px;
}
.pricelist ul{
	display: flex;
	flex-direction: row;
	align-content: left;
	justify-content: left;
	gap: 10px;

}
@media screen and (min-width: 768px) {
	.pricecontent {
		flex-direction: row;
		gap: 10px;
	}
	.package {
		width: 300px;
	}
	
}
