.pricecontent h2{
	font-family: Work Sans;
	font-weight: 400;
	font-style: Regular;
	font-size: 15px;
	letter-spacing: 0px;

}
span {
	font-family: Work Sans;
	font-weight: 400;
	font-style: Regular;
	font-size: 15px;
	letter-spacing: 0px;
}
.pricetags {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 16px;
}
.pricetags p{
font-family: Work Sans;
font-weight: 400;
font-style: Regular;
font-size: 15px;
letter-spacing: 0px;
text-align: center;


}
.package {
	margin: 18px 46px 18px 50px;
	padding: 30px 46px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 3px 4px 12px 1px #00000040;
}
.learnmore {
	background-color: black;
	border: none;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 10px;
	align-self: center;
	border: none;
	border-radius: 5px;
	width: 170px;
	height: 45px;
}
.pricelist ul {
	display: flex;
	flex-direction: row;
	align-content: left;
	justify-content: left;
	gap: 10px;
}
@media screen and (min-width: 768px) {
	.pricecontent {
		display: flex;
		flex-direction: row;
		gap: 5px;
	}
	.pricetags h2{
		font-size: 15px;
	}
	.pricetags h3 {
		font-size: 40px;
	}
	.pricetags p {
		font-size: 20px;
	}
}
