header{
    background-color: #74c79e;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav{
    /* padding:20px 17px 20px 32px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#74c79e;
}
nav img{
    width: 50%;
    height: 31.06px;
}
nav h1{
    font-family: Work Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 1.875rem;
    letter-spacing: 0px;
    color: white;
    text-align: left;

}
header button{
    background-color:#74c79e;
    border: none;
    cursor: pointer;
}
.menu{
    width: 30px;
    height: 30px;
}
/* .navbar{
    background-color:#74c79e;
    padding : 20px,17px,20px,32px, ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 32px;

} */
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0;
    margin: 0;
    gap:20px;

}
.navbar .content .companyLogo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

ul{
    display: none;
    list-style: none;
    gap:20px;
    justify-items: end;
    margin: 0;
    padding: 0;

}
.mobile-list{
    display: flex;
    background-color: #74c79e;
    flex-direction: column;
    text-align: center;
}
@media screen and (min-width: 768px) {
    navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 32px;
    }
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .mobile-nav{
        display: none;
    }
    .menubutton{
        display: none;
    }
}
